# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [1]:
import pandas as pd
import numpy as np

# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Set the index to be the first column
df.set_index('A', inplace=True)
print("DataFrame with new index:")
print(df)

Original DataFrame:
    A   B   C   D
0  11  39  35  50
1  43  15  82  10
2  59  83  39   1
3  66  64  94  19
4  16  55  35  76
5  41  92   8  24
DataFrame with new index:
     B   C   D
A
11  39  35  50
43  15  82  10
59  83  39   1
66  64  94  19
16  55  35  76
41  92   8  24

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [2]:
# Create a Pandas DataFrame with specified columns and index
df = pd.DataFrame(np.random.randint(1, 100, size=(3, 3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
print("Original DataFrame:")
print(df)

# Access the element at row 'Y' and column 'B'
element = df.at['Y', 'B']
print("Element at row 'Y' and column 'B':", element)

Original DataFrame:
    A   B   C
X  12  16  82
Y  88   5  31
Z  32   5   9
Element at row 'Y' and column 'B': 5

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [3]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Add a new column that is the product of the first two columns
df['D'] = df['A'] * df['B']
print("DataFrame with new column:")
print(df)

Original DataFrame:
    A   B   C
0  17  72  95
1  68  71  42
2  47  85  20
3  64  21  30
4   6  10  79
DataFrame with new column:
    A   B   C     D
0  17  72  95  1224
1  68  71  42  4828
2  47  85  20  3995
3  64  21  30  1344
4   6  10  79    60

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [4]:
# Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Compute the row-wise and column-wise sum
row_sum = df.sum(axis=1)
column_sum = df.sum(axis=0)

print("Row-wise sum:")
print(row_sum)
print("Column-wise sum:")
print(column_sum)

Original DataFrame:
    A   B   C
0  68  86  39
1  34  50  73
2  97  19  10
3  23  18  34
Row-wise sum:
0    193
1    157
2    126
3     75
dtype: int64
Column-wise sum:
A    222
B    173
C    156
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [5]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)

# Fill the NaN values with the mean of the respective columns
df.fillna(df.mean(), inplace=True)
print("DataFrame with NaN values filled:")
print(df)

Original DataFrame:
    A   B   C
0   6  93   5
1  32  99  85
2  24  15   9
3  44  66   7
4  20  57  54
DataFrame with NaN values:
      A     B     C
0   6.0   NaN   5.0
1  32.0  99.0  85.0
2  24.0  15.0   NaN
3  44.0  66.0   7.0
4   NaN  57.0  54.0
DataFrame with NaN values filled:
      A      B      C
0   6.0  59.25   5.00
1  32.0  99.00  85.00
2  24.0  15.00  37.75
3  44.0  66.00   7.00
4  26.5  57.00  54.00

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [6]:
# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[1, 2] = np.nan
df.iloc[3, 0] = np.nan
df.iloc[5, 1] = np.nan
print("DataFrame with NaN values:")
print(df)

# Drop the rows with any NaN values
df.dropna(inplace=True)
print("DataFrame with NaN values dropped:")
print(df)

Original DataFrame:
    A   B   C   D
0  78  89  28  47
1  18  17  98  83
2  99  43  76  29
3  48  56  15  91
4  39  55  30  84
5  24  42  78  99
DataFrame with NaN values:
      A     B     C   D
0  78.0  89.0  28.0  47
1  18.0  17.0   NaN  83
2  99.0  43.0  76.0  29
3   NaN  56.0  15.0  91
4  39.0  55.0  30.0  84
5  24.0   NaN  78.0  99
DataFrame with NaN values dropped:
      A     B     C   D
0  78.0  89.0  28.0  47
2  99.0  43.0  76.0  29
4  39.0  55.0  30.0  84

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

Aggregate Functions.

| Function  | Meaning            |
| --------- | ------------------ |
| `sum()`   | Total              |
| `mean()`  | Average            |
| `max()`   | Maximum            |
| `min()`   | Minimum            |
| `count()` | Count of values    |
| `std()`   | Standard deviation |

In [7]:
# Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'
df = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category
grouped = df.groupby('Category')['Value'].agg(['sum', 'mean'])
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Category  Value
0        A      2
1        A     15
2        A      6
3        C     79
4        C     86
5        C     29
6        C     38
7        C     32
8        B     58
9        B     60
Grouped DataFrame:
          sum       mean
Category
A          23   7.666667
B         118  59.000000
C         264  52.800000

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [8]:
# Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'
df = pd.DataFrame({'Product': np.random.choice(['Prod1', 'Prod2', 'Prod3'], size=10), 'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Sales': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the total sales for each category
grouped = df.groupby('Category')['Sales'].sum()
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Product Category  Sales
0   Prod1        A     49
1   Prod1        A     94
2   Prod2        C     16
3   Prod3        B     88
4   Prod2        A     34
5   Prod2        A     18
6   Prod1        C     74
7   Prod1        C     32
8   Prod3        A     86
9   Prod1        C     23
Grouped DataFrame:
Category
A    281
B     88
C    145
Name: Sales, dtype: int32

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [9]:
# Create two Pandas DataFrames with a common column
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Merge the DataFrames using the common column
merged = pd.merge(df1, df2, on='Key')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      88
1   B      66
2   C      80
3   D      90
DataFrame 2:
  Key  Value2
0   A      15
1   B      35
2   C      12
3   E      56
Merged DataFrame:
  Key  Value1  Value2
0   A      88      15
1   B      66      35
2   C      80      12

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [24]:
# Create two Pandas DataFrames with different columns
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

# Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
    A   B
0  68   9
1   6  55
2  63   7
DataFrame 2:
    C   D
0  18  95
1   2  67
2  93  29
Concatenated DataFrame (rows):
      A     B     C     D
0  68.0   9.0   NaN   NaN
1   6.0  55.0   NaN   NaN
2  63.0   7.0   NaN   NaN
0   NaN   NaN  18.0  95.0
1   NaN   NaN   2.0  67.0
2   NaN   NaN  93.0  29.0
Concatenated DataFrame (columns):
    A   B   C   D
0  68   9  18  95
1   6  55   2  67
2  63   7  93  29

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [25]:
# Create a Pandas DataFrame with a datetime index and one column filled with random integers
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Resample the DataFrame to compute the monthly mean of the values
monthly_mean = df.resample('M').mean() # resample('M') → Groups the data by month.

print("Monthly mean DataFrame:")
print(monthly_mean)

Original DataFrame:
            data
date
2022-01-01    78
2022-01-02    13
2022-01-03     2
2022-01-04    42
2022-01-05    73
...          ...
2022-12-27    11
2022-12-28     0
2022-12-29    62
2022-12-30    78
2022-12-31    14

[365 rows x 1 columns]
Monthly mean DataFrame:
                 data
date
2022-01-31  48.129032
2022-02-28  41.500000
2022-03-31  52.161290
2022-04-30  58.366667
2022-05-31  48.741935
2022-06-30  49.800000
2022-07-31  49.161290
2022-08-31  52.516129
2022-09-30  49.433333
2022-10-31  50.903226
2022-11-30  55.200000
2022-12-31  42.129032

C:\Users\HomePC\AppData\Local\Temp\ipykernel_12192\1899589780.py:10: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean() # resample('M') → Groups the data by month.

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [ ]:
# Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31'
date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Compute the rolling mean with a window of 7 days
rolling_mean = df.rolling(window=7).mean()
# rolling(window=7) → Looks at a 7-day sliding window.
# .mean() → Calculates the average of each 7-day window.
print("Rolling mean DataFrame:")
print(rolling_mean)

Original DataFrame:
            data
date
2021-01-01    90
2021-01-02    42
2021-01-03    82
2021-01-04     0
2021-01-05    67
...          ...
2021-12-27    66
2021-12-28    24
2021-12-29    94
2021-12-30    32
2021-12-31    38

[365 rows x 1 columns]
Rolling mean DataFrame:
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  56.714286
2021-12-28  46.714286
2021-12-29  52.000000
2021-12-30  45.857143
2021-12-31  47.142857

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [13]:
# Create a Pandas DataFrame with a MultiIndex (hierarchical index)
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Basic indexing and slicing operations
print("Indexing at Category 'A':")
print(df.loc['A'])

print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              72      60      38
         two              27      36      94
B        one              98      40      59
         two              19      90      77
Indexing at Category 'A':
             Value1  Value2  Value3
SubCategory
one              72      60      38
two              27      36      94
Slicing at Category 'B' and SubCategory 'two':
Value1    19
Value2    90
Value3    77
Name: (B, two), dtype: int32

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [30]:
# Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'
np.random.seed(42)
arrays = [['A','A', 'A', 'B', 'B', 'C', 'C'], ['one','one', 'two', 'one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(7, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Compute the sum of values for each 'Category' and 'SubCategory'
sum_values = df.groupby(['Category', 'SubCategory']).sum()
print("Sum of values:")
print(sum_values)

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              52      93      15
         one              72      61      21
         two              83      87      75
B        one              75      88      24
         two               3      22      53
C        one               2      88      30
         two              38       2      64
Sum of values:
                      Value1  Value2  Value3
Category SubCategory
A        one             124     154      36
         two              83      87      75
B        one              75      88      24
         two               3      22      53
C        one               2      88      30
         two              38       2      64

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [28]:
# Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'
date_rng = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D')
df = pd.DataFrame({'Date': np.random.choice(date_rng, size=20), 'Category': np.random.choice(['A', 'B', 'C'], size=20), 'Value': np.random.randint(1, 100, size=20)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'
pivot_table = df.pivot_table(values='Value', index='Date', columns='Category', aggfunc='sum')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
         Date Category  Value
0  2022-01-06        B     54
1  2022-01-02        A      4
2  2022-01-05        B     54
3  2022-01-01        B     93
4  2022-01-10        B     63
5  2022-01-06        A     18
6  2022-01-09        B     90
7  2022-01-01        A     44
8  2022-01-10        B     34
9  2022-01-03        C     74
10 2022-01-07        C     62
11 2022-01-04        A     14
12 2022-01-09        C     95
13 2022-01-03        C     48
14 2022-01-05        B     15
15 2022-01-03        A     72
16 2022-01-07        B     78
17 2022-01-05        B     87
18 2022-01-09        B     62
19 2022-01-07        B     40
Pivot Table:
Category       A      B      C
Date
2022-01-01  44.0   93.0    NaN
2022-01-02   4.0    NaN    NaN
2022-01-03  72.0    NaN  122.0
2022-01-04  14.0    NaN    NaN
2022-01-05   NaN  156.0    NaN
2022-01-06  18.0   54.0    NaN
2022-01-07   NaN  118.0   62.0
2022-01-09   NaN  152.0   95.0
2022-01-10   NaN   97.0    NaN

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [16]:
# Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'
df = pd.DataFrame({'Year': np.random.choice([2020, 2021, 2022], size=12), 'Quarter': np.random.choice(['Q1', 'Q2', 'Q3', 'Q4'], size=12), 'Revenue': np.random.randint(1, 1000, size=12)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'
pivot_table = df.pivot_table(values='Revenue', index='Year', columns='Quarter', aggfunc='mean')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
    Year Quarter  Revenue
0   2022      Q2      596
1   2021      Q4       65
2   2021      Q4      747
3   2022      Q1      886
4   2021      Q3      114
5   2021      Q1      647
6   2022      Q4      419
7   2021      Q3      267
8   2020      Q4      224
9   2020      Q1      844
10  2021      Q2      537
11  2021      Q3      161
Pivot Table:
Quarter     Q1     Q2          Q3     Q4
Year
2020     844.0    NaN         NaN  224.0
2021     647.0  537.0  180.666667  406.0
2022     886.0  596.0         NaN  419.0

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [17]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Apply a function that doubles the values of the DataFrame
df_doubled = df.applymap(lambda x: x * 2)
print("Doubled DataFrame:")
print(df_doubled)

Original DataFrame:
    A   B   C
0  32  17  92
1  68  31  78
2  76  69  51
3  61  54  41
4  56  16  38
Doubled DataFrame:
     A    B    C
0   64   34  184
1  136   62  156
2  152  138  102
3  122  108   82
4  112   32   76

C:\Users\HomePC\AppData\Local\Temp\ipykernel_12192\3315638500.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_doubled = df.applymap(lambda x: x * 2)

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [18]:
# Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Apply a lambda function to create a new column that is the sum of the existing columns
df['Sum'] = df.apply(lambda row: row.sum(), axis=1)
print("DataFrame with Sum column:")
print(df)

Original DataFrame:
    A   B   C
0  96  98  39
1  26  39  48
2  62  91  65
3  70  93   6
4  91  77  33
5  97  15  73
DataFrame with Sum column:
    A   B   C  Sum
0  96  98  39  233
1  26  39  48  113
2  62  91  65  218
3  70  93   6  169
4  91  77  33  201
5  97  15  73  185

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [19]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

# Convert all the strings to uppercase
uppercase_data = text_data.str.upper()
print("Uppercase Series:")
print(uppercase_data)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
Uppercase Series:
0         APPLE
1        BANANA
2        CHERRY
3          DATE
4    ELDERBERRY
dtype: object

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [20]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

# Extract the first three characters of each string
first_three_chars = text_data.str[:3]
print("First three characters:")
print(first_three_chars)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
First three characters:
0    app
1    ban
2    che
3    dat
4    eld
dtype: object

In [21]:
import pandas as pd

# Sample data
data = {'Name': ['Ali', 'Sara', 'John', 'Mary', 'Ahmed', 'Fatima'],
        'Age': [5, 16, 25, 45, 70, 12]}

df = pd.DataFrame(data)
df

     Name  Age
0     Ali    5
1    Sara   16
2    John   25
3    Mary   45
4   Ahmed   70
5  Fatima   12

In [22]:
# Define bins and labels
bins = [0, 12, 19, 59, 100]
labels = ['Child', 'Teen', 'Adult', 'Senior']

# Create a new column 'Category'
df['Category'] = pd.cut(df['Age'], bins=bins, labels=labels)
df

     Name  Age Category
0     Ali    5    Child
1    Sara   16     Teen
2    John   25    Adult
3    Mary   45    Adult
4   Ahmed   70   Senior
5  Fatima   12    Child

# What is pd.cut()?
pd.cut() is a Pandas function used to split continuous data into categories (bins).

It is like creating groups from numeric data.

Why use pd.cut()?
To convert numerical data into categorical data

For age grouping, grade levels, income ranges, etc.

Syntax:
python
Copy
Edit
pd.cut(x, bins, labels=None, right=True, include_lowest=False)
Explanation of Parameters:
Parameter	Meaning
x	The numeric data you want to split (Example: df['Age']).

bins::::	The intervals you want to create. For example: [0, 12, 19, 59, 100].

labels:::	The names of the categories. For example: ['Child', 'Teen', 'Adult', 'Senior'].

right::: (default=True)	Decide whether the bins are right inclusive. If True, the 
interval will be like (12,19] (12 < age ≤ 19).

include_lowest	If True, the lowest value is included in the first bin.

In Your Example:

python.....

bins = [0, 12, 19, 59, 100]        # Defines the intervals:

# (0,12], (12,19], (19,59], (59,100]

labels = ['Child', 'Teen', 'Adult', 'Senior']  # Names for the bins

df['Category'] = pd.cut(df['Age'], bins=bins, labels=labels)
How It Works:

[0-12]   -> Child
(12-19]  -> Teen
(19-59]  -> Adult
(59-100] -> Senior
The right side is inclusive because right=True by default.

Summary:
pd.cut() is used to convert numeric columns into categories (bins).

It is very useful for data grouping and analysis.